/* Background e Cor do texto */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.8)), url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin: 80px 0 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* Barra de Navegação */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  text-align: center;
  justify-content: flex-end;
}

nav li {
  margin: 0 1rem;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  color: currentColor;
}

/* Estilo das entradas */
.divcontainer {
  width: 80%;
  margin: 0 auto;
}

.divcolumn {
  width: 33%;
  padding: 0 1rem;
  box-sizing: border-box;
  height: auto;
  float: left;
  text-align: center;
}

.divrow {
  background-color: rgba(0, 0, 0, 0.5);
  width: 45%;
  float: left;
  padding: 1.25%;
  margin: 1.25%;
}

.thumbnail {
  width: 12rem;
  float: left;
  margin-right: 1rem;
}

/* Estilo dos títulos */
.title {
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

.subtitle {
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
}

/* Estilo dos textos */
.center {
  text-align: center;
}

.justify {
  text-align: justify;
  text-justify: auto;
}

article a:link {
  text-decoration: none;
  color: currentColor;
}

article a:visited {
  color: currentColor;
}

.rainbow-text {
  background-image: -webkit-linear-gradient(
    left,
    #f00,
    #ff2b00,
    #f50,
    #ff8000,
    #fa0,
    #ffd500,
    #ff0,
    #d4ff00,
    #af0,
    #80ff00,
    #5f0,
    #2bff00,
    #0f0,
    #00ff2a,
    #0f5,
    #00ff80,
    #0fa,
    #00ffd5,
    #0ff,
    #00d5ff,
    #0af,
    #0080ff,
    #05f,
    #002aff,
    #00f,
    #2b00ff,
    #50f,
    #8000ff,
    #a0f,
    #d400ff,
    #f0f,
    #ff00d4,
    #f0a,
    #ff0080,
    #f05,
    #ff002b,
    #f00
  );
  animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
}
@keyframes animatedBackground_a {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500px 0;
  }
}
